/*------------------------------------*\
  #Seprator
\*------------------------------------*/

.u-w-70-percent {
  width: 70%;
}

.u-w-30-percent {
  width: 30%;
}

.u-left-10 {
  left: 10%;
}

.u-separator {
  position: relative;
  width: 40%;
  height: 5px;
  margin: rem(16px 0px);

  &::before {
    content: " ";
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
  }
}

.u-has-before-separator {
  padding-left: 11%;
  position: relative;

  &::before {
    content: " ";
    display: block;
    width: 10%;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    background-color: #000;
  }
}

.u-pl-5-percent {
  padding-left: 5%;
}

.u-max-w-1360 {
  max-width: rem(1360px);
}

.u-h-75vh {
  height: 75vh;
}
