/*------------------------------------*\
  #Seprator
\*------------------------------------*/

.u-w-70-percent {
  width: 70%;
}

.u-w-30-percent {
  width: 30%;
}

.u-left-10 {
  left: 10%;
}

.u-separator {
  position: relative;
  width: 40%;
  height: 5px;
  margin: rem(16px 0px);

  &::before {
    content: " ";
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
  }
}
