* {
  -ms-word-wrap: break-word !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
  transition: $global-transition;
}

body {
  transition: $global-transition;
  height: 100%;

  display: flex;
  flex-direction: column;
}
