/*------------------------------------*\
  #Button ( Primary )
\*------------------------------------*/
button,
.wp-block-button__link,
.c-btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid $color_border; // 333333

  color: $architectural_primary_text_color; // 060606
  border-radius: 0px;
  cursor: pointer;
  transition: $global-transition;
  font-family: $architectural_secondary_font;
  font-weight: 500;
  padding: rem(8px 24px);
  text-decoration: none;
  line-height: inherit;

  @apply bg-white underline decoration-1 border-2;

  &:hover,
  &:focus,
  &:active {
    // background-color: $architectural_primary_accent_color; // FF00B8
    // text-decoration: none;
    // border: 1px solid $architectural_primary_accent_color;

    @apply bg-transparent border-gray-50 border-2 underline text-white decoration-1;
  }

  &:visited,
  &:focus {
    text-decoration: none;
  }
}

.btn--secondary {
  @apply bg-transparent border-black border;

  &:hover,
  &:focus,
  &:active {
    background-color: #000;
    color: #fff;
    // @apply bg-black text-white border-black border;
  }
}

.btn--big {
  padding: rem(11px 44px);
}

.btn--high-contrast {
  &:hover,
  &:focus,
  &:active {
    background-color: #000 !important;
  }
}
