.c-selected-work__main-image {
  width: 100%;
  height: 450px;

  @include mq($from: lg) {
    width: 65%;
  }
}

.c-selected-work__secondary-image {
  display: none;
  @include mq($from: lg) {
    display: block;
  }
}

.c-selected-work__button {
  z-index: 50;
  left: 32px !important;
  top: 50%;

  @include mq($from: lg) {
    bottom: 12% !important;
    right: 30% !important;
    left: unset !important;
    top: unset;
  }
}
